<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Товары</title>
</head>
    <h1>Тут находится гаджеты</h1>
<body>
    <img src="https://shop.beeline.kz/binaries/content/gallery/veonmarket/products/smartphones/apple/iphone-13-starlight/iphone13-3.png" width="300" height="300">
    <a href="kup">Купить</a>
    <h2>Смартфон Apple 150.000 тг</h2>
    <img src="https://gadgetstore.kz/wa-data/public/shop/products/42/03/342/images/1873/1873.970.jpeg" width="300" height="200">
    <a href="kup">Купить</a>
    <h2>наушники 5000 тг</h2>
    <img src="https://object.pscloud.io/cms/cms/Photo/img_0_64_894_1_6.png" width="300" height="200">
    <a href="kup">Купить </a>
    <h2>Планшет 100.000 тг</h2>
    <img src="https://object.pscloud.io/cms/cms/Photo/img_0_911_717_1_1.jpg" width="300" height="200">
    <a href="kup">Купить </a>
    <h2>Часы 120.000 тг</h2>

    <h1><p align="right"><a href="main">Вернутся</a></h1></p>

</body>
</html>