<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная странца</title>
</head>
<body>


    <h1>Добро пожаловать в магазин Адлан</h1>
    <h1 align="center"></h1>
    <h1 align="center"><a>Выбирите категорию</a></h1>

    <img src="https://img.freepik.com/premium-vector/sleek-gadget-silhouettes-white-background_961038-33909.jpg" width="300", height="300"><h1><a href="mag">Гаджеты</a></h1>
    <img src="https://img.freepik.com/free-photo/computer-screen-white-background_1232-543.jpg" width="400" height="300"><h1><a href="kom">Компьютеры</a></h1>
    <img src="https://img.freepik.com/premium-photo/new-colorful-sport-equipment-isolated-white-background_151223-24.jpg" width="400", height="300"><h1><a href="spo">Спорт</a></h1>

</body>
</html>